*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: slategray;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid skyblue;
    background-color: rgba(255,255,255, 0.7);
}
.calculator-grid > button:hover{
    background-color: rgba(255,255,255, 0.9);
}

.double {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}
.display .current {
    color:white;
    font-size: 2.5rem;
}